/*** General ***/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

html, body{
    height: 100%;
}

.container{
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

/*** General end ***/

/*** header ***/

header{
    width: 100%;
    padding: 20px 2%;
    background-color: rgb(228, 225, 225);
   
}

header .logo{
    width: 160px;
    height: 40px;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    /*background-image: url('../images/logo.png');*/
    background-color: aqua;
    border-radius: 10px;
}

nav{
    float: right;
}

nav.mobile-menu{
    display: none;
    width: 32px;
    height: 32px;
    background-image: url('../images/hamburger-menu.png');
    background-size: 100% 100%;
    cursor: pointer;
}

nav.mobile-menu ul{
    display: none;
    position: absolute;
    width: 100%;
    color: white;
    list-style-type: none;
    left: 0;
    top: 80px;
    background-color: white;
    text-align: center;
}


nav.mobile-menu ul li{
    padding: 8px 0;
    transition: 0.4s;
    border-bottom: 1px solid black;
}

nav.mobile-menu ul li a{
    color: black;
    text-decoration: none;
}

nav.mobile-menu ul li:hover{
    background-color: rgb(230,230,230);
}

nav.desktop-menu{
    padding: 12px;
}

nav.desktop-menu ul{
    list-style-type: none;
}

nav.desktop-menu li{
    float: left;
    padding: 0 20px;
}

nav.desktop-menu a{
    text-decoration: none;
    color: black;
}

/*** header end ***/

/*** Section Banner ***/
.part-left-first{
    background-color: #f8f9fa;
    width: 50%;
    float: left;
    padding: 200px 2%;
    height: 650px;
}

.part-left-first h2{
    font-size: 48px;
}

.part-left-first p{
    padding-top: 12px;
}

.part-right-first{
    width: 50%;
    height: 650px;
    background-size: cover;
    background-position: center;
    background-image: url('../images/banner.jpg');
    float: right; 
}

/*** Section Banner end ***/

/*** Section Mosaico ***/

.flex-mosaico{
    display: flex;
}

.item1-mosaico{
    background-position: center;
    background-size: cover;
    padding: 60px 40px;
    width: 30%;
    height: 200px;
}

.item2-mosaico{
    background-color: #f8f9fa;
    padding: 60px 40px;
    width: 100%;
    border: 1px solid #d0d1d1;
    text-align: center;
}

.item2-mosaico p{
    color: black;
}

/*** Section Mosaico end ***/


/*** Section chamada-1 ***/
.chamada-1 .descricao-1{
    background-color: #f8f9fa;
    padding: 60px 40px;
    text-align: center;
}

/*** Section chamada-1 end ***/
.slide{
    border: 1px solid #d0d1d1;
	float: left;
	width: 100%;
}

.img-slide-single{
	float: left;
	width: calc(100% / 9);
	padding-top: calc(100% / 9);
	background-color: blue;
	border:6px solid white;
}

/*** Section slide ***/


/*** Section slide end ***/


/*** Responsivo ***/

@media screen and (max-width: 1200px) {

    .img-slide-single{
		width: calc(100% / 6);
		padding-top: calc(100% / 6);
	}

    .images-slide > div:nth-of-type(1n+7){
		display: none;
	}

    .part-right-first{
        display: none;
    }
    
    .part-left-first{
        float: none;
        width: 100%;
        text-align: center;
        background-image: url('../images/banner.jpg');
        height: 400px;
        margin-bottom: 20px;
        padding: 100px;
    }
    
    .flex-mosaico{
        display: block;
    }

    .item1-mosaico{
        width: 100%;
        padding-top: 80%;
    }

    .item2-mosaico{
        text-align: justify;
        width: 100%;
    }
}

@media screen and (max-width: 980px) {

    nav.desktop-menu{
        display: none;
    }

    nav.mobile-menu{
        display: block;
    }

    .chamada-1 .descricao-1{
        text-align: justify;
    }

    .img-slide-single{
        width: calc(100% / 3);
        padding-top: calc(100% / 3);
    }

    .images-slide > div:nth-of-type(1n+4){
        display: none;
    }
}

/*** Responsivo end ***/